* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f2f5;
}

/* NAVBAR */
.navbar {
    background: #1877f2;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.search input {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    width: 250px;
}

.nav-icons span {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}

/* LAYOUT */
.container {
    display: flex;
    margin-top: 15px;
    padding: 0 20px;
}

/* SIDEBAR */
.sidebar {
    width: 25%;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 8px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #e4e6eb;
}

/* FEED */
.feed {
    width: 50%;
    padding: 0 20px;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.post-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.post img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

/* RIGHTBAR */
.rightbar {
    width: 25%;
}

.rightbar:hiver {
    padding: 0 20px;
}

.contact {
    background: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}